h1 {
    font-family: 'Shadows Into Light Two', cursive;
    color: #55595c;
    font-size: 60px;
    text-align: center;
}

a {
    text-decoration:none; 
}

.item {
	text-align: center;
	font-size: 1.5em;
}
.item2 {
    width: auto;
    position: absolute;
	text-align: center;
    margin-left: 55vh;
    margin-top: 20%;
}

.flex {
	display: flex;
}

img {
    max-width: 60%;
    width: auto;
    margin-right: 4%;
    margin-top: 10vh;
}

.entrada {
    border-radius: 6px;
    border: 1px solid black;
    padding: 2px;
    margin-bottom: 11%;
}

.botao {
    background-color: #262526;
    color: white;
    text-transform: uppercase;
}

.linkEntrada {
    color: #707070;
    font-size: 15px;
    text-decoration: none; 

}