<!-- <router-outlet></router-outlet> -->
<section class="container flex">
    <div class="item">
        <img src="../assets/logo-TANGERINO-nova.png" alt="Logo">
    </div>
    <div class="item2">
        <form class="login" >
            <input class="entrada" type="email" placeholder="Email"><br>
            <input class="entrada" type="password" placeholder="Password"><br>
            <a routerLink="/Post"><input class="botao entrada" type="button" value="Entrar"></a>
        </form>
        <a class="linkEntrada" routerLink="#">Cadastrar</a><br>
        <a class="linkEntrada" routerLink="#">Recuperar senha</a>
    </div>
</section>