.btn-cadastro:hover{  
    color :#EB6022;
}

svg {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin-left: 4vw;
}

#foto_blog{
    float: left;
    height: 300px;
    width: 300px;
    margin-top: 5%;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: auto;

}
#foto_blog h2{
    text-align: center;
}
#foto_blog p{
    text-align: center;
}
.botao_foto_blog{
    margin-left: 5vw;
    background-color: #262526;
    border: #262526;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}
.botao_foto_blog:hover{
    color: #EB6022;
}
a {
    color: #262526;
    cursor: pointer;
}
a:link { 
    text-decoration:none; 
} 

a:hover { 
    text-decoration:none;
    color: #EB6022;
} 
h2{
    font-size: 21px;
}
