<div class ="cabecalho">
    <h1>Excluindo Postagem</h1>

</div>
<div class="container">
    <form>

        <div>
            <span>Titulo da Materia: </span>
            <input type="text" placeholder="Titulo">             
        </div>
        <div>
            <span>Autor: </span>
            <input type="text" placeholder="Autor">             
        </div>

        <div>
            <span>Categoria: </span> 
            <select >
                <option value="1">Cultura</option>
                <option value="2">Esporte</option>
                <option value="3">Entreterimento</option>
                <option value="4">Bem Estar</option>
                <option value="5">Política</option>
            </select>
        </div>
        <button class="botao_foto_blog" (click)="excluir()" >Excluir</button>
    </form>
</div>
